<p>
  <b>Namn:</b>
  <%= mark.name %>
</p>

<% if (!mark.description.empty?) %>
  <p>
    <b>Beskrivning:</b>
    <%= mark.description %>
  </p>
<% end %>

<% if (mark.map.user == current_user) %>

<p>
  <%= link_to "Ändra markering |", edit_profile_map_mark_path(mark.map.user.slug, mark.map.slug, mark) %>
  <%= link_to ' Ta bort', mark_path(mark), confirm: "Vill du ta bort markeringen: #{ mark.name }?", id: "delete-marker-link", method: :delete, remote: true %>
</p>

<% end %>