<% title @mark.map.name %>
<div class="row">
  <div class="eight columns">
    <h1>Editing mark</h1>
    <%= form_for(@mark, method: :put, html: { id: "map_form" }) do |f| %>
        <%= render 'form', f: f %>
    <% end %>
  </div>
  <div class="four columns">
    <%= gmaps(@display_map) %>
  </div>
</div>
<%= link_to 'Avbryt', profile_map_path(@map.user.slug, @map.slug)%>





