<!-- Starsida - inloggad läge -->
<% title "Välkommen!" %>

<div class="row">
	<div class="twelve columns">
		<h2>Kartor - Översikt</h2>
	</div>
</div>
<div class="row">
	<div class="three columns">
		<h3>Alla användare</h3>
		<% (@User).each do |u| %>
			<p>E-Post: <%= u.email %></p>
			<p>Användarnamn: <%= u.username%></p>
		<hr />
		<% end %>
		<hr />

	</div>
	<div class="three columns">
		<h4>Mina kartor</h4>
    <% @maps.each do |map| %>
    <%= link_to map.name, map_path(map.id) %>

    <br>
    <% end %>
	</div>
	<div class="three columns">
		<h4>Kartor jag följer</h4>
		<% @followed_maps.each do |followed| %>
			<%= link_to followed.name, map_path(followed.id) %>
			<br>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="three columns">
		<h4>Populära kartor</h4>
	</div>
	<div class="three columns">
		<h4>Nya kartor idag</h4>
	</div>
	<div class="three columns">
		<h4>Något annat</h4>
	</div>
</div>

