<% if current_user.likes?(update) %>
    <%= link_to '| Sluta gilla ', status_update_toggle_like_path(update), :method => :post, :remote => true %>
<% else %>
    <%= link_to '| Gilla ', status_update_toggle_like_path(update), :method => :post, :remote => true %>
<% end %>
<% if current_user == update.user %>
    <%= link_to '| Ta bort ', status_update_path(update), :confirm => 'Vill du ta bort statusuppdateringen?', :method => :delete, :remote => true %>
<% end %>
<div class="status-update-statistics">
  <span class="status-update-likes"><%= like_count_string(update) %></span>
</div>