<section class="status-update-wrapper">
  <ul class="status-updates">
    <% updates.each do |u| %>
        <%= render 'status_updates/shared/status_update', :update => u %>
    <% end %>
  </ul>
</section>


