<% title 'Ändra i ' + @map.name %>
<h2>Redigera karta</h2>
<div id="mapCreation">
  <%= form_for(@map, url: profile_map_path(@map.user.slug, @map.slug), method: :put, html: { id: "map_form" }) do |f| %>
      <%= render 'maps/shared/form', f: f %>
  <% end %>
</div>