<% title "Skapa ny karta" %>
<h2>Skapa ny karta</h2>
<div id="mapCreation">
  <%= form_for([current_user, @map], url: profile_maps_path, html: { id: "map_form" }) do |f| %>
      <%= render 'maps/shared/form', f: f %>
  <% end %>
</div>