<% title "Skapa ny karta" %>
<h2>Skapa ny karta</h2>
<div id="mapCreation">
  <%= form_for(@map, :html => { :id => "map_form" }) do |f| %>
      <%= render 'maps/shared/form', :f => f %>
  <% end %>
</div>