<% if current_user.likes?(comment) %>
    <%= link_to 'Sluta gilla ', status_comment_toggle_like_path(comment), method: :post, remote: true %>
<% else %>
    <%= link_to 'Gilla ', status_comment_toggle_like_path(comment), method: :post, remote: true %>
<% end %>
<% if current_user == comment.user %>
    <%= link_to '| Ta bort ', status_comment_path(comment), confirm: 'Vill du ta bort kommentaren?', method: :delete, remote: true %>
<% end %>
<div class="status-comment-statistics">
  <span class="status-update-likes"><%= like_count_string(comment) %></span>
</div>