<ul class="status-comments">
  <% comments.each do |c| %>
      <li>
        <p><span><%= c.user.username %>: </span><%= c.content %></p>
        <div class="status-comment-footer">
          <span class="created-at"><%= time_ago(c.created_at) %></span>
          <% if current_user == c.user %>
              <%= link_to 'Ta bort', map_status_update_status_comment_path(@map, status_update, c), :confirm => 'Vill du ta bort kommentaren?', :method => :delete %>
          <% end %>
        </div>
      </li>
  <% end %>
</ul>