// Grå variabler
$light-light-gray: #e6e6e6;
$light-gray: #707070;
$gray: #505050;
$dark_gray: #303030;

// Rosa variabler
$light-pink: #FFF0F5;

// Blå variabler
$blue: #2ba6cb; 
$light-blue: #EDF3F5;