<ul class="no-bullet">
	<li><%= link_to "Om Kartr", pages_about_path %></li>
	<li><%= link_to "Hjälp", pages_help_path %></li>
	<li><%= link_to "API", pages_api_path %></li>
	<li><%= link_to "Startsidan", root_url %></li>
<ul>