<!-- Startsida - Utloggat läge -->

<% title "Välkommen!" %>

<div class="row" id="navigation">
	<div class="nine columns">
		<h1>Kartr - Sociala kartor på nätet!</h1>
		<h3>Beskrivning</h3>
		<p>
			En tjänst där man som användare kan skapa en karta som får sin egna sida, med kartan i fokus. På sin kartsida kan användaren sätta ut markeringar med tillhörande beskrivning på en karta. Kartan kan sen delas till andra genom en genererad webbadress eller delas via sociala medier. Kartsidan ska ha ett slags nyhetsflöde där användaren kan skriva kortare statusuppdateringar ala twitter.
		</p>
		<p>
			Användare kan ‘följa/gilla/prenumerera’ på andras kartor och får då möjlighet att tillföra information till kartor, efter skaparens godkännande samt få notiser när valda kartor uppdateras. Tjänsten har alltså många användningsområden; man kan skapa kartor med egna noder för att visa för andra, eller skapa kartor där många andra kan tillföra markeringar och utöka kartorna på detta sätt. Kartans sida ska kunna byggas ut med widgets som instagramflöden, twitter/rss/FB -feeds osv.
		</p>
		<h3>Syfte</h3>
		<p>
			Arbetet med att utveckla denna karttjänst kommer ske inom ramen för kursen Webbprojekt 2 2DV401 i en del av Webbprogrammerarprogrammet som vi läser vid Linnéuniversitetet. Projektgruppen består av Claes Tillborg, Hans Bentlöv, Linus Persson, Anders Ahlborg, Therese Svensson, Jacob Ottosson, Gunnar Annerstedt och Martin Svensson.
		</p>
	</div>
	<div class="three columns">
		<% if not user_signed_in? %>
		<%= link_to "Registrera dig", new_user_registration_path %> eller
		<%= render "users/shared/login_form" %>
		<% #link_to "Logga in", new_user_session_path %>

		<% end %>

	</div>
</div>