<!-- Startsida - Utloggat läge -->

<% title "Välkommen!" %>

<div class="row" id="navigation">
  <div class="eight columns">
    <header>
      <hgroup>
        <h1 class="header-name">Kartr</h1>
        <h3 class="header-name subheader"> - sociala kartor på nätet!</h3>
      </hgroup>
    </header>
    
    <div id="kartr-slideshow">
      <div data-caption="">
        <img src="assets/orbit/orbit1.png" />
      </div>
      <div data-caption="#captionOne">
        <img src="assets/orbit/orbit2.png" />
      </div>
      <div data-caption="">
        <img src="assets/orbit/orbit3.png" />
      </div>
    </div>
    
     <p>
       <strong>Välkommen!</strong> På kartr.se kan du som användare skapa egna kartor och genom dem dela information om olika platser till andra användare. På kartorna kan du sedan sätta ut markeringar och på så sätt märka ut platser som du vill tipsa om. Kanske vill du berätta om de bästa festivalerna som kommer arrangeras i sommar eller varför inte tipsa om sevärdheter du hittade under din resa genom Europa? Du bestämmer genren - bara fantasin sätter gränser! <%= link_to "Registrera dig här", new_user_registration_path %> för att börja skapa kartor och utforska andras.
     </p>
  </div>
  <div class="three columns offset-by-one">
    <% unless user_signed_in? %>
        <%= render "users/shared/login_form" %>
        <h4 class="right"><%= link_to "Registrera dig!", new_user_registration_path %></h4>
    <% end %>
  </div>
</div>