<%= title "Om Kartr" %>
<div class="row">
  <section class="twelve columns about_wrapper">
    <h2>Om Kartr.se</h2>
    <p>
        På kartr.se kan du som användare skapa egna kartor och genom dem dela information om olika platser till andra användare. På kartorna kan du sedan sätta ut markeringar och på så sätt märka ut platser som du vill tipsa om. Kanske vill du berätta om de bästa festivalerna som kommer arrangeras i sommar eller varför inte tipsa om sevärdheter du hittade under din resa genom Europa? Du bestämmer genren - bara fantasin sätter gränser!
      </p>
      <p>
        Här på kartr.se fokuserar vi en hel del på den sociala biten, vilket innebär att vi gjort det möjligt för er användare att vara delaktiga i konversationen på ett enkelt och effektivt sätt. Förutom att användare kan kommentera och gilla statusuppdateringar är det även möjligt att följa kartor. De kartor du följer hamnar automatiskt i ditt flöde på förstasidan, vilket gör det enkelt att se om kartskaparen lagt till en ny statusuppdatering. När du skapar egna kartor kan du välja att tagga dem med relevanta sökord och på så sätt kan du hitta kartor som är gemensamma med din och vice versa.
    </p>
    
    <h4>Webbprojekt II vid Linnéuniversitetet</h4>
    <p>
      Kartr.se är utvecklad inom ramen för kursen Webbprojekt II vid <a href="http://www.lnu.se">Linnéuniversitet</a> i Kalmar. 
      Kursen är på 15 hp och läses som en  del av påbyggnadsåret på Webbprogrammerarprogrammet. Det övergripande målet med projektet är
      att få kunskap av den iterativa utvecklingsprocessen samt få de erfarenheter som krävs för att omsätta kunskaperna 
      till en färdigställd och levererad produkt.
    </p>
    
    <h4 class="subheader">Vi som jobbat med detta projekt</h4>
    <div class="row">
      <div class="three columns">
        <h5 class="coworker">Claes Tillborg</h5>
        <span></span>
      </div>
      <div class="nine columns coworker_info">
      ´´
      </div>
    </div>
    <div class="row">
      <div class="three columns">
        <h5 class="coworker">Hans Bentlöv</h5>
        <span></span>
      </div>
      <div class="nine columns coworker_info">
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="three columns">
        <h5 class="coworker">Linus Persson</h5>
        <span></span>
      </div>
      <div class="nine columns coworker_info">
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="three columns">
        <h5 class="coworker">Martin Svensson</h5>
        <span></span>
      </div>
      <div class="nine columns coworker_info">
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="three columns">
        <h5 class="coworker">Therese Fallman</h5>
        <span></span>
      </div>
      <div class="nine columns coworker_info">
        <p></p>
      </div>
    </div>
  </section>
</div>