<div class="row">
  <h1>(ALLT STULET FRÅN FACEBOOK!!)</h1>
  <h1>Policy för dataanvändning</h1>
  <section class="seven columns terms_wrapper">
    <h3>Information som vi tar emot och hur den används</h3>
    <p>Läs mer om de informationstyper vi tar emot och hur den informationen används.</p>

    <h3>Att dela innehåll och hitta dig på Facebook</h3>
    <p>Läs mer om sekretessinställningarna som hjälper dig att kontrollera din information på facebook.com.</p>

    <h3>Andra webbplatser och applikationer</h3>
    <p>Läs mer om saker som sociala insticksprogram och hur information delas med spel, applikationer och webbplatser som du och dina vänner använder utanför Facebook.</p>

    <h3>Så här fungerar annonsering och sponsrade händelser</h3>
    <p>Se hur annonserna riktas utan att din information delas med annonsörer och förstå hur vi kopplar annonser med social kontext, som händelser i nyhetsflödet.</p>

    <h3>Cookies, pixlar och andra systemtekniker</h3>
    <p>Ta reda på hur cookies, pixlar och verktyg (som lokal lagring) används för att ge dig tjänster, funktioner och relevanta annonser och innehåll.</p>

    <h3>Några andra saker du bör känna till</h3>
    <p>Läs om hur vi gör ändringar i den här policyn och mer.</p>

  </section>
  <aside class="five columns">
  <h3>Fler resurser</h3>
    <ul>
      <li>Interaktiva verktyg</li>
      <li>Minderåriga och säkerhet</li>
      <li>Visa den fullständiga policyn för dataanvändning</li>
    </ul>
  </aside>
</div>