<ul class="right">
  <li class="divider"></li>
  <li class="has-dropdown">
    <a href="#"><i class="foundicon-settings"></i> Inställningar</a>
    <ul class="dropdown">
      <li><%= link_to raw('<i class="foundicon-settings"></i> Redigera profil'), edit_user_registration_path %></li>
      <li><%= link_to raw('<i class="foundicon-edit"></i> Mina kartor'), profile_show_maps_path(current_user.slug) %></li>
      <li><%= link_to raw('<i class="foundicon-lock"></i> Logga ut'), destroy_user_session_path, method: :delete %></li>
      <% if current_user.admin? %>
      	<li class="divider"></li>
     		<li><%= link_to raw('<i class="foundicon-website"></i> Admin'), rails_admin_path %></li>
    	<% end %>
    </ul>
  </li>
</ul>