<ul class="right">
  <li class="has-dropdown">
    <a href="#"><i class="foundicon-settings"></i> <%= map.name %></a>
    <ul class="dropdown">
      <%= top_bar_edit_map_link %>
      <%= top_bar_delete_map_link %>
    </ul>
  </li>
</ul>