/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui/smoothness
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 */

// Application imports
@import "foundation";
@import "foundation_icons_general/sass/general_foundicons";
@import "home.css.scss";
@import "maps.css.scss";
@import "gmaps4rails.css.scss";
@import "status_updates.css.scss";
@import "map_comments.css.scss";

.header-name { display: inline-block; }
h1.header-name { margin-right: 10px; }

.profile-image-small {
  width: 24px;
  height: 24px;
  margin-bottom: -6px;
  margin-right: 4px;
}
.profile-image-medium {
  width: 48px;
  height: 48px;
}
.profile-image-large {
  width: 150px;
  height: 150px;
}

#footer {
  margin-top: 30px;
}

span.emoticon {
  display: inline-block;
  height: 16px;
  width: 16px;
}
.hide {
  display: none;
}
.smile {
    background-image: url('http://static.ak.fbcdn.net/rsrc.php/v2/yU/x/X8YPpi6kcyo.png');
} 

.sad {
    background-image: url('http://static.ak.fbcdn.net/rsrc.php/v2/yU/x/X8YPpi6kcyo.png');
} 

.heart {
    background-image: url('http://static.ak.fbcdn.net/rsrc.php/v2/yr/x/Ob2Er7b1NpV.png');
} 
.fieldCords {
	display: none;
}

li.search {
  form {
    input[type='text'],
    input[type='search'] {
      margin: 0;
      min-width: 350px;
      height: 38px !important;
      font-size: 15px !important;
    }
  }
}
