.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  


  img {
    max-width: none;
  }
}

marks .map_container {
  width: auto;
}


.gmaps4rails_map {
  width: inherit;
  height: 550px;
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}

@media only screen and (max-width: 767px) {
   .gmaps4rails_map {
      width: inherit;
      height: 370px;
    } 
}
