// Place all the styles related to the MapComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// inlänkade hjälpmedel
@import "shared/_colors.css.scss";
@import "shared/_mixins.css.scss";

.map-comment-form { margin: 10px 0 20px 0; }
.map-comment-wrapper {
  padding: 0 0.5em;
  ul { list-style: none; margin: 0; }
  p, form, input[type="text"] { margin: .1em; }
  input[type="text"] { font-size: 13px; }

  .map-comments {
    padding: 0.5em;
    border: 1px solid $light-light-gray;
    @include rounded(.3em);
    @include box-shadow(.1em, .1em, .1em, .1em, $light-light-gray);
    
    li { padding: .4em .5em; }

    .map-comment {
      margin: .5em 0;

      .map-comment-body {
        word-wrap:break-word;
        margin-top: -.2em;
        padding-left: .4em;
        width: 90%;
        float: left;
    
        .author {
          font-weight: bold;
        }
      }
    }
    .status-comment-statistics {
        color: $light-gray;
        font-size: 13px;
        padding-top: 0.5em;
        margin-top: 0.5em;
        border-top: 1px solid $light-light-gray;
      }
      
      .map-comment-footer {
        clear: both;
        color: $light-light-gray;
        padding: .6em 0 .4em 0;
        
        li {
          display: inline;
          padding: 0 .4em;
          font-size: 13px;
        }
        
        li:first-child { padding-left: 0; }
      }
      
      .map-comment-image {
        float: left;
      }
  
    .created-at {
      color: $light-gray;
    }
  }
}
