// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// inlänkade hjälpmedel
@import "shared/_colors.css.scss";
@import "shared/_mixins.css.scss";

.map-handler { padding: 20px 0; }

.map-info-wrapper {

  .map-description {
    p {
      word-wrap:break-word;
    }
    
    padding: 15px 0px 7px 0px;

  }
}

.fieldCords {
  input.error {
    :focus {
      border-color: $red;
    }
  }
}
.mark-links {
  a {
    display: inline-block;
  }
}

.submit-button {
  margin: 20px auto;
}
.map-wrapper {
  margin: 20px auto;
}

.header-map {
  border-bottom: 4px solid $blue;
  padding: 5px 15px;
  
  #follow-button {
    margin: 25px 0px 5px 0px;
    
    a {
      float: right;
      width: 70%;
    }
  }
}

.side-header-map {
  margin-bottom: 20px;
  border-bottom: 4px solid $black;
  padding-top: 16px;
}


.tip-status {
   margin-top: 8px;
 }

#tabs-comments { margin-top: 25px; }

.map-tags {
  a { color: #fff;}
  dd {
    display: inline;
  }
}

// Sidebar

#sidebar {
  .panel {
    background: #f9f9f9;
  }
  i {
    font-size: 12px;
    color: #333;
  }
  
  .foundicon-plus {
    font-size: 8px;
  }
  
  .twelve.columns {
    margin-bottom: 10px;
  }
  
  h5 {
    border-bottom: 1px solid $light-light-gray;
    padding: 5px 0px;
  }
  
  .map-settings {
    margin-top: 20px;
    
    li {
      display: inline;
      font-size: 12px;   
    }
    
    li:last-child { padding-left: .4em; }
    li:first-child { padding-right: .4em; }
        
    a, a:visited { color: $dark-blue; }	
    a:hover { color: $blue; text-decoration: underline; }
    }
    
    #counter-map {
      li {
        border-bottom: 1px solid $light-light-gray;
        padding: 8px 0px;
        
        i {
          padding-right: 4px;
        }
      }
    }



  hr {
    width: 90%;
    margin: 10px auto;
    border-style: dotted;
  }

  img.profile-image-medium {
    float: right;
  }

}

.map-meta {
  margin-top: 10px;
  ul {
    li {
      text-align: center;
      font-size: 13px;
      margin-bottom: 5px;
    }
  }
}

.row.created-by {
  margin-top: 35px;
  margin-bottom: 10px;
  
  .profile-name {
    font-size: 13px;
  }
  
  .created-time {
    display: block;
    margin-top: 8px;
    font-style: italic;
    font-size: 13px;
  }
  
  img {
    float: left;
    border: 2px solid #fff;
    @include box-shadow(0, .1em, .1em, 0,  $light-gray);
    margin-right: .8em;
  }
}

.map-count {
  padding: 5px 0px 17px 0px;
  border-bottom: 4px solid $black;

  span {
    text-align: center;
    padding: 5px 0px;
    display: block;
  }

  .counter {
    font-size: 20px;
    font-weight: bold;
  }

  .counter-text {
    font-size: 11px;
  } 
}


// Page: Mina kartor
#my-maps {
  .row {
    border-bottom: 1px solid $light-light-gray;
    padding: 5px 0px;
    margin-bottom: 13px;
  }
}

// Page: show map
.row {
  #viewMapContainter {
    margin: 15px 0px 20px 0px;
  }
}

#show-updates, #show-comments {
  margin: 20px 0px;
  
  .content {
    display: none;
  }
}

#map-tutorial { display: none; }

.joyride-content-wrapper {
  padding: 30px;

  .tip-header { margin-bottom: 10px; }
  .tip-body {
    padding-top: 10px;
    border-top: solid 2px $gray;
  }
  .tip-footer {
    font-style: italic;
    padding-top: 20px;
    display: block;
    .tip-tips { display: block; font-weight: bold; }
  }
  h6 { margin-bottom: 20px; }
}

@media only screen and (max-width: 767px) {
  #my-maps {
    .row {
      padding-bottom: 15px;
    }
  }
  
  .row.map-count {
  
      margin-top: 20px;
      margin-left: 8%;
      border-bottom: 0;
      
      .three.columns {
        float: left;
        margin-right: 30px;
      }
      
      .mid {
        padding: 0px 25px;
        border-left: 1px dotted $light-gray;
        border-right: 1px dotted $light-gray;
      }
  
    span {
      text-align: center;
      padding: 5px 0px;
      display: block;
    }
  
    .counter {
      font-size: 20px;
      font-weight: bold;
    }
  
    .counter-text {
      font-size: 11px;
    } 
  }

  // Sidebar on mobile
  #sidebar {
    .twelve.columns {
      margin-left: 40px;
    }
    img.profile-image-medium {
      float: none;
      height: 120px;
      width: 120px;
    }
  }
  
  .created-by {
    text-align: center;
  }
  
  #follow-button {
    margin-left: 15%;
    margin-bottom: 20px;
    
    a {
      width: 85%;
    }
  }
}
