// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// inlänkade hjälpmedel
@import "shared/_colors.css.scss";

.map-handler { padding: 20px 0; }

.map-info-wrapper {

  .map-description {
    p {
      word-wrap:break-word;
    }
    
    margin-top: 5px;
    padding: 15px 0px 7px 0px;

  }
}
.submit-button {
  margin: 20px auto;
}
.map-wrapper {
  margin: 20px auto;
}
.row.header-map {
  margin: 0 auto;
  width: 100%;
  border-bottom: 4px solid $blue;
  padding-bottom: 5px;
}
.side-header-map {
  margin-bottom: 20px;
  border-bottom: 4px solid $black;
  padding-top: 16px;
}

.header-name {
  margin-left: -10px;
}

#follow-button {
  margin: 20px 0px 5px 0px;
}

#follow-button a{ width: 96%; }

.tip-status {
   margin-top: 8px;
 }

#comments { margin-top: 25px; }

.map-tags {
  a { color: #fff;}
  dd {
    display: inline;
  }
}

// Sidebar

#sidebar {
  i {
    font-size: 8px;
    color: #333;
  }

  .twelve.columns {
    margin-bottom: 20px;
  }

  hr {
    width: 90%;
    margin: 10px auto;
    border-style: dotted;
  }

  img.profile-image-medium {
    float: right;
  }

}

.map-meta {
  margin-top: 10px;
  ul {
    li {
      text-align: center;
      font-size: 13px;
      margin-bottom: 5px;
    }
  }
}

.row.created-by {
  margin-top: 25px;
  margin-bottom: 16px;

  p {
    margin-top: 15px;
  }
}

.map-count {
  padding: 5px 0px 17px 0px;
  border-bottom: 4px solid $black;

  span {
    text-align: center;
    padding: 5px 0px;
    display: block;
  }

  .counter {
    font-size: 20px;
    font-weight: bold;
  }

  .counter-text {
    font-size: 11px;
  } 
}


// Page: Mina kartor
#my-maps {
  .row {
    border-bottom: 1px solid $light-light-gray;
    padding: 5px 0px;
    margin-bottom: 13px;
  }
}

// Page: show map
.row {
  #viewMapContainter {
    margin: 10px 0px 20px 0px;
  }
}

#show-updates, #show-comments {
  margin: 20px 0px;
  
  .content {
    display: none;
  }
}

#map-tutorial { display: none; }

.joyride-content-wrapper {
  padding: 30px;

  .tip-header { margin-bottom: 10px; }
  .tip-body {
    padding-top: 10px;
    border-top: solid 2px $gray;
  }
  .tip-footer {
    font-style: italic;
    padding-top: 20px;
    display: block;
    .tip-tips { display: block; font-weight: bold; }
  }
  h6 { margin-bottom: 20px; }
}

@media only screen and (max-width: 767px) {
  #my-maps {
    .row {
      padding-bottom: 15px;
    }
  }
  
  .row.map-count {
  
      margin-top: 20px;
      margin-left: 8%;
      border-bottom: 0;
      
      .three.columns {
        float: left;
        margin-right: 30px;
      }
      
      .mid {
        padding: 0px 25px;
        border-left: 1px dotted $light-gray;
        border-right: 1px dotted $light-gray;
      }
  
    span {
      text-align: center;
      padding: 5px 0px;
      display: block;
    }
  
    .counter {
      font-size: 20px;
      font-weight: bold;
    }
  
    .counter-text {
      font-size: 11px;
    } 
  }

  // Sidebar on mobile
  #sidebar {
    .twelve.columns {
      margin-left: 40px;
    }
    img.profile-image-medium {
      float: none;
      height: 120px;
      width: 120px;
    }
  }
  
  .created-by {
    text-align: center;
  }
  
  #follow-button {
    margin-left: 15%;
    margin-bottom: 20px;
    
    a {
      width: 85%;
    }
  }
}
