// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared/_colors.css.scss";

.map-handler { padding: 20px 0; }

.map-info-wrapper {

  .map-description {
    p {
      word-wrap:break-word;
    }

  }
  .map-created-at {

  }
}

.map-count {
  background-color: #d3d3d3;
  margin: 10px 5px;
  border: 1px solid gray;
  text-align: center;
  padding: 10px;
  .map-followers {

  }
  span {
    padding: 5px;
    display: block;
  }
}

// Page: Mina kartor
#my-maps {
  .row {
    border-bottom: 1px solid $light-light-gray;
    padding: 5px 0px;
    margin-bottom: 13px;
  }
}

@media only screen and (max-width: 767px) {
  #my-maps {
    .row {
      padding-bottom: 15px;
    }
  }
}