// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared/_colors.css.scss";

.about_wrapper {
	h2 {
		border-bottom: 4px solid $blue;
		padding: 12px 0px;
		margin-bottom: 25px;
	}

	h4 {
		margin-top: 40px;
	}
}
