// Place all the styles related to the StatusUpdates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// inlänkade hjälpmedel
@import "shared/_colors.css.scss";
@import "shared/_mixins.css.scss";

.status-update-wrapper {

  ul { list-style: none; margin: 0; }
  h3, p, form, input[type="text"] { margin: .1em; }
  input[type="text"] { font-size: 13px; }
  h3 { font-size: 1.1em; }
  
  .status-update-content {
    clear: both;
    margin: 20px 0px 10px 0px; 
  }
  .status-update-content,
  .status-comment-body {
    word-wrap:break-word;
  }

  .status-update { margin: 2em 0; }

  .status-update-body {
    border: 1px solid $light-light-gray;
    @include rounded(.3em);
    @include box-shadow(0, .1em, .1em, 0,  $light-light-gray);
    padding: 1em;

    .status-update-header,
    .status-update-footer {
      padding: .5em 0;
    }
    .status-update-statistics {
      border-top: 1px solid $light-light-gray;
      margin-top: .5em;
      padding-top: .5em;
      color: $light-gray;
      font-size: 13px;
    }
    
    .status-update-header {
      padding: 10px 0px;
      
      h3 { float: left; }
    }
    
    .status-update-footer {
      color: $light-light-gray;
      
      li {
        display: inline;
        padding: 0 .4em;
        font-size: 13px; 
      }
      
      li:first-child { padding-left: 0; }
      
      .created-at {
        color: $light-gray;
      }
    }
  }

  .status-comment-wrapper {
    padding: 0 .5em;

    .status-comments {
      padding: 0.5em;
      background-color: $light-blue;
      border: 1px solid $light-light-gray;
      @include rounded(.3em);
      @include box-shadow(0, .1em, .3em, 0, $light-light-gray, inset);

      li {
        padding: 0.5em;
      }

      .author {
        font-weight: bold;
      }
      
      .status-comment-body, .status-comment-image { float: left; }
            
      .status-comment-body { 
        margin-top: -.2em;
        padding-left: .4em;
        width: 90%;
      }
      
      .status-comment-statistics {
        border-top: 1px solid $light-light-gray;
        margin-top: .5em;
        padding-top: .5em;
        color: $light-gray;
        font-size: 13px;
      }
      
      .status-comment-footer {
        clear: both;
        color: $light-light-gray;
        padding: .6em 0 .4em 0;
        
        li {
          display: inline;
          padding: 0 .4em;
          font-size: 13px; 
        }
        
        li:first-child { padding-left: 0; }
        
        .created-at {
          color: $light-gray;
        }
        
      }
    }
  }
}