<% if current_user.likes?(comment) %>
    <%= link_to '| Sluta gilla ', map_comment_toggle_like_path(comment), :method => :post, :remote => true %>
<% else %>
    <%= link_to '| Gilla ', map_comment_toggle_like_path(comment), :method => :post, :remote => true %>
<% end %>
<% if current_user == comment.user %>
    <%= link_to '| Ta bort ', status_update_path(comment), :confirm => 'Vill du ta bort statusuppdateringen?', :method => :delete %>
<% end %>
<div class="status-comment-statistics">
  <span class="status-update-likes"><%= like_count_string(comment) %></span>
</div>