<div class="map-comment-list">
  <ul class="map-comments">
    <% comments.each do |c| %>
        <li>
          <p><span><%= c.user.username %>: </span><%= c.content %></p>
          <div class="map-comment-footer">
            <span class="created-at"><%= time_ago(c.created_at) %></span>
            <% if current_user == c.user %>
                <%= link_to 'Ta bort', map_map_comment_path(@map.id, c.id), :confirm => 'Vill du ta bort kommentaren?', :method => :delete %>
            <% end %>
          </div>
        </li>
    <% end %>
  </ul>
</div>
