<section class="map-comment-wrapper">
  <h2 class="subheader">Kommentarer</h2>
  <ul id="map-<%= map.id %>-comment-list" class="map-comments">
    <li class="map-comment-form">
      <%= render "map_comments/shared/form" %>
    </li>
    <% if map.map_comments.any? %>
        <% map.map_comments.each do |c| %>
            <%= render 'map_comments/shared/map_comment', :comment => c %>
        <% end %>
    <% end %>
  </ul>
</section>




