<p>Välkommen <%= @resource.username %>!</p>
<p>Vänligen bekräfta din epostadress genom att klicka på länken nedan:</p>

<p><%= link_to 'Bekräfta min epost', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
