<p>Hej <%= @resource.username %>!</p>

<p>Vi har fått en begäran om ändring av lösenord, detta kan göras genom att gå in på länken nedan:</p>

<p><%= link_to 'Ändra mitt lösenord', edit_password_url(@resource, reset_password_token: @resource.reset_password_token) %></p>

<p>Ignorera denna epost om förfrågan inte begärts av dig.</p>
<p>Ditt lösenord kommer inte att ändras förrän du klickar på länken ovan.</p>
