<p>Hej <%= @resource.username %>!</p>

<p>På grund av flera misslyckade inloggningsförsök har ditt konto på kartr.se nu blockerats.</p>

<p>Vänligen klicka på länken nedan för att låsa upp ditt konto igen:</p>

<p><%= link_to 'Lås upp mitt konto', unlock_url(@resource, unlock_token: @resource.unlock_token) %></p>
